@model RoleManagmentVM 

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-4">
        <div class="row">
            <div class="col-12 text-center">                
                <h2 class="py-2 text-white">Role Managment</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <div class="row pt-3">
            <div class="col-md-12">
                <form class="row" method="post">                    
                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                    <input asp-for="@Model.User.Id" hidden />
                    <div class="form-floating mb-3 col-md-12">
                        <input asp-for="@Model.User.Name"  class="form-control" placeholder="e.g Khalid" disabled />
                        <label asp-for="@Model.User.Name" class="ms-2 text-muted">Name</label>                        
                    </div>                  
                    <div class="form-floating mb-3 col-md-12">
                        <select id="Input_Role" asp-for="@Model.User.Role" asp-items="@Model.RoleLsit" class="form-select">
                            <option disabled selected>--Select Role--</option>
                        </select>
                    </div> 
                    @{
                        var companyVisable = "display:none;";
                        if(Model.User.Role==SD.Role_Company){
                            companyVisable = "display:block;";
                        }
                    }
                    <div class="form-floating mb-3 col-md-12">
                        <select id="Input_CompanyId" asp-for="@Model.User.CompanyId" style="@companyVisable" asp-items="@Model.CompanyLsit" class="form-select">
                            <option disabled selected>--Select Company--</option>
                        </select>
                    </div>                                                                
                    <div class="col-12 flex-column">
                        <button  type="submit" class="w-100 btn btn-lg btn-primary col-md-3 ">Update Role</button>
                        <a asp-controller="user" asp-action="Index"  class="w-100 btn btn-lg btn-outline-primary col-md-3">Back to List</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        $(document).ready(function(){
            $('#Input_Role').change(function(){
                var selection = $('#Input_Role Option:Selected').text();
                if(selection == 'Company'){
                    $('#Input_CompanyId').show();
                }
                else{
                     $('#Input_CompanyId').hide();
                }
            })
        });
    </script>
}
