@model List<Product>
<div class="card  border-0 shadow my-5">
    <div class="card-header bg-gradient bg-secondary py-3 ms-0">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class=" text-white py-2"> Product List</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <div class="row py-3">
            <div class="col-12 text-end">
                <a class="btn btn-primary" asp-controller="Product" asp-action="UpSert"> <i class="bi bi-plus-circle"></i> Add New Product </a>
            </div>
        </div>
        <table class=" table table-bordered table-striped">
            <thead>
                <tr>
                    
                    <th>Title</th>
                    <th>ISBN</th>
                    <th>Author</th>
                    <th>Price</th>
                    <th>Category</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var product in Model)
                {
                    <tr>
                        <td>@product.Title</td>
                        <td>@product.ISBN</td>
                        <td>@product.Author</td>
                        <td>@product.Price</td>
                        <td>@product.Category.Name</td>
                        <td>
                            <div class="w-75 btn-group ">
                                <a class="btn btn-danger" asp-area="Admin" asp-controller="Product" asp-action="Delete" asp-route-id="@product.Id"><i class="bi bi-trash"></i></a>
                                <a class="btn btn-primary" asp-area="Admin" asp-controller="Product" asp-action="Upsert" asp-route-id="@product.Id"><i class="bi bi-pencil-square"></i></a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>